




<app-sidebar></app-sidebar>
<app-header></app-header>

<div class="container-fluid" style="padding-left: 275px; height: 100%;">
  <div class="row" style="height: 100% !important;">
      <div class="col-12">
          <div class="row">
            <div class="col-2" style="min-width: 260px;">
                <div class="cardtitle card-1 active" >
                    <h6 class = "ellipsis"style="font-size: 0.9rem;">{{notebook.nome_notebook}}</h6>
                    <p>({{notebook.avaliacao_media}})⭐⭐⭐⭐⭐(0)</p>
                    <span _ngcontent-uhf-c47="" id="criar-notebook-buttom" class="badge badge-pill badge-primary criar-notebook"  style="margin-bottom: 0.3rem; " [ngStyle]="{'background-color': notebook.publico == 0 ? '#6c757d' : ''}">Público</span>
                    <span _ngcontent-uhf-c47="" id="criar-notebook-buttom" class="badge badge-pill badge-primary criar-notebook"  style="margin-bottom: 0.3rem; background-color:#6c757d; margin-left: 3px;" [ngStyle]="{'background-color': notebook.publico == 1 ? '#6c757d' : ''}">Privado</span>
                  </div>
                  
                <div class="anotacoes">
                  <div *ngIf = "this.anotacoes == null " class = "card"style="text-align: center; line-height: 100px;height: 100px; background-color: #cccccc;">Não Há Anotações!!</div>
                  <div *ngFor="let anotacao of anotacoes"class="card" [ngClass]="anotacao.status || anotacao_selecionada == anotacao.id_anotacao ? 'active' : ''">
                    <div (click)="getNota(anotacao)"class="card-content">
                      <div class="card-body">
                        <div class="media d-flex">
                          <div class="media-body text-left">
                            <h6 class="bookcolor">{{anotacao.nome_anotacao}}</h6>
                            <div>
                              <button class="buttonlist">Editar</button>
                              <button (click)="excluirAnotacao(anotacao)"class="buttonlist">Deletar</button>
                            </div>
                            
                          </div>
                          <div class="align-self-center">
                            <i
                              class="far fa-sticky-note bookcolor font-large-2 float-right"
                            ></i>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                
                    
                </div>
                
                <a (click) = "criarAnotacao()" class="fixedButton">
                    <div class="roundedFixedBtn" ><i class="fa fa-plus"></i></div>
                </a>
              </div>
              
              <div class="col full-height" style="padding-left: 0px;">
                <div *ngIf = "this.anotacoes != null && this.anotacao_selecionada != null" class="editor-toolbar-2"><a (click) = "alterarEditor()" tabindex="-1" class="fa fa-floppy-o">&nbsp;Editar</a></div>
                <textarea *ngIf = "this.anotacoes != null && this.anotacao_selecionada != null "id="teste"></textarea>
                <div *ngIf = "this.anotacao_selecionada == null "class="card center full-height" style="background-color: #cccccc;">Selecione uma Anotação!!</div>
              </div>
              
          </div>
        
      </div>
    
  </div>
</div>
