.bookcolor {
  color: #007bffc7;
  font-size: 0.9rem;
}

.buttonlist {
  display: none;
}

.card :hover .buttonlist {
  background-color: #007bffc7;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 85%;
  margin: 4px 2px;
  border-radius: 10rem;
}

.card-body {
  padding: 12px;
}

.d-flex {
  min-height: 57px;
}

.card {
  margin-bottom: 0.5rem;
  width: 96%;
}

.full-height {
  height: 100%;
}

#markdown {
  overflow: auto;
  border-left: 1px solid black;
  background-color: white;
  padding-left: 10px;
}

#pad {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

  border: none;
  overflow: auto;
  outline: none;
  resize: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.CodeMirror-sizer {
  height: 838px;
  border-right: 0px;
}

.anotacoes {
  height: 728px;
  overflow: auto;
}

.fixedButton {
  position: absolute;
  bottom: 30px;
  right: 35%;
  padding: 20px;
}

.roundedFixedBtn {
  height: 60px;
  line-height: 65px;
  width: 60px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #578ae2;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background 0.8s;
}

.roundedFixedBtn:hover {
  background: #3d97f8 radial-gradient(circle, transparent 1%, #3d97f8 1%) center/15000%;
}

.roundedFixedBtn:active {
  background-color: #578ae2;
  background-size: 100%;
  transition: background 0s;
}

.cardtitle {
  min-height: 110px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  padding: 14px 80px 18px 16px;
  width: 93%;
  margin-bottom: 10px;
}

.card-1{
    background-image: url(https://img.icons8.com/color/452/story-book.png);
        background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }

p {
    margin-top: 0;
    margin-bottom: 0.3rem;
}

.cardtitle.card-1.active{
  
    background-color: #1c66e5b0 !important;
    color: #ffffff !important;
  }
.card.active{
  
    background-color: #1c66e5b0 !important;
    
  }
.card.active h6{
    color: #ffffff !important;
}
.card.active .bookcolor{
    color: #ffffff !important;
}

.editor-toolbar-2-2 {
  position: relative;
  opacity: .6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 0 10px;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.editor-toolbar-2 {
  position: relative;
  opacity: .6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 0 10px;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.editor-toolbar-2:after,
.editor-toolbar-2:before {
  display: block;
  content: ' ';
  height: 1px;
}

.editor-toolbar-2:before {
  margin-bottom: 8px
}

.editor-toolbar-2:after {
  margin-top: 8px
}

.editor-toolbar-2:hover,
.editor-wrapper input.title:focus,
.editor-wrapper input.title:hover {
  opacity: .8
}

.editor-toolbar-2.fullscreen {
  width: 100%;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background: #fff;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 9;
}

.editor-toolbar-2.fullscreen::before {
  width: 20px;
  height: 50px;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.editor-toolbar-2.fullscreen::after {
  width: 20px;
  height: 50px;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.editor-toolbar-2 a {
  display: inline-block;
  text-align: center;
  text-decoration: none!important;
  color: #2c3e50!important;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.editor-toolbar-2 a.active,
.editor-toolbar-2 a:hover {
  background: #fcfcfc;
  border-color: #95a5a6;
}

.editor-toolbar-2 a:before {
  line-height: 30px
}

.editor-toolbar-2 i.separator {
  display: inline-block;
  width: 0;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #fff;
  color: transparent;
  text-indent: -10px;
  margin: 0 6px;
}

.editor-toolbar-2 a.fa-header-x:after {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 65%;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
}

.editor-toolbar-2 a.fa-header-1:after {
  content: "1";
}

.editor-toolbar-2 a.fa-header-2:after {
  content: "2";
}

.editor-toolbar-2 a.fa-header-3:after {
  content: "3";
}

.editor-toolbar-2 a.fa-header-bigger:after {
  content: "▲";
}

.editor-toolbar-2 a.fa-header-smaller:after {
  content: "▼";
}

.editor-toolbar-2.disabled-for-preview a:not(.no-disable) {
  pointer-events: none;
  background: #fff;
  border-color: transparent;
  text-shadow: inherit;
}

@media only screen and (max-width: 700px) {
  .editor-toolbar-2 a.no-mobile {
      display: none;
  }
}