.bookcolor {
  color: #007bffc7
}

.buttonlist {
  display: none;
}

.card :hover .buttonlist {
  background-color: #007bffc7;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 85%;
  margin: 4px 2px;
  border-radius: 10rem;
}

.card-body {
  padding: 12px;
}

.d-flex {
  min-height: 57px;
}

.card {
  margin-bottom: 0.5rem;
  width: 96%;
}

.full-height {
  height: 100%;
}

#markdown {
  overflow: auto;
  border-left: 1px solid black;
  background-color: white;
  padding-left: 10px;
}

#pad {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

  border: none;
  overflow: auto;
  outline: none;
  resize: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.CodeMirror-sizer {
  height: 838px;
  border-right: 0px;
}

.anotacoes {
  height: 728px;
  overflow: auto;
}

.fixedButton {
  position: absolute;
  bottom: 30px;
  right: 40%;
  padding: 20px;
}

.roundedFixedBtn {
  height: 60px;
  line-height: 65px;
  width: 60px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #578ae2;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background 0.8s;
}

.roundedFixedBtn:hover {
  background: #3d97f8 radial-gradient(circle, transparent 1%, #3d97f8 1%) center/15000%;
}

.roundedFixedBtn:active {
  background-color: #578ae2;
  background-size: 100%;
  transition: background 0s;
}

.cardtitle {
  min-height: 110px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  padding: 14px 80px 18px 16px;
  width: 96%;
  margin-bottom: 10px;
}

.card-1{
    background-image: url(https://img.icons8.com/color/452/story-book.png);
        background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }

p {
    margin-top: 0;
    margin-bottom: 0.3rem;
}

.cardtitle.card-1.active{
  
    background-color: #1c66e5b0 !important;
    color: #ffffff !important;
  }
.card.active{
  
    background-color: #1c66e5b0 !important;
    
  }
.card.active h6{
    color: #ffffff !important;
}
.card.active .bookcolor{
    color: #ffffff !important;
}