




<app-sidebar></app-sidebar>
<app-header></app-header>

<div class="container-fluid" style="padding-left: 280px; height: 100%;">
  <div class="row" style="height: 100% !important;">
      <div class="col-12">
          <div class="row">
            <div class="col-3" style="max-width: 21% !important;">
                <div class="cardtitle card-1 active">
                    <h5>Notebook 1</h5>
                    <p>Público</p>
                    <p>⭐⭐⭐⭐⭐</p>
                  </div>
                <div class="anotacoes">

                  <div class="card active">
                    <div class="card-content">
                      <div class="card-body">
                        <div class="media d-flex">
                          <div class="media-body text-left">
                            <h6 class="bookcolor">Algebra Linear e Estudos Amazonicos</h6>
                            <div>
                              <button class="buttonlist">Editar</button>
                              <button class="buttonlist">Deletar</button>
                            </div>
                            
                          </div>
                          <div class="align-self-center">
                            <i
                              class="far fa-sticky-note bookcolor font-large-2 float-right"
                            ></i>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                

                
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="media-body text-left">
                              <h6 class="bookcolor">Algebra Linear e Estudos Amazonicos</h6>
                              <div>
                                <button class="buttonlist">Editar</button>
                                <button class="buttonlist">Deletar</button>
                              </div>
                              
                            </div>
                            <div class="align-self-center">
                              <i
                                class="far fa-sticky-note bookcolor font-large-2 float-right"
                              ></i>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  
                  
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="media-body text-left">
                              <h6 class="bookcolor">Algebra Linear e Estudos Amazonicos</h6>
                              <div>
                                <button class="buttonlist">Editar</button>
                                <button class="buttonlist">Deletar</button>
                              </div>
                              
                            </div>
                            <div class="align-self-center">
                              <i
                                class="far fa-sticky-note bookcolor font-large-2 float-right"
                              ></i>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  
                  
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="media-body text-left">
                              <h6 class="bookcolor">Algebra Linear e Estudos Amazonicos</h6>
                              <div>
                                <button class="buttonlist">Editar</button>
                                <button class="buttonlist">Deletar</button>
                              </div>
                              
                            </div>
                            <div class="align-self-center">
                              <i
                                class="far fa-sticky-note bookcolor font-large-2 float-right"
                              ></i>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                 
                  
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="media-body text-left">
                              <h6 class="bookcolor">Algebra Linear e Estudos Amazonicos</h6>
                              <div>
                                <button class="buttonlist">Editar</button>
                                <button class="buttonlist">Deletar</button>
                              </div>
                              
                            </div>
                            <div class="align-self-center">
                              <i
                                class="far fa-sticky-note bookcolor font-large-2 float-right"
                              ></i>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  
                  
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="media-body text-left">
                              <h6 class="bookcolor">Algebra Linear e Estudos Amazonicos</h6>
                              <div>
                                <button class="buttonlist">Editar</button>
                                <button class="buttonlist">Deletar</button>
                              </div>
                              
                            </div>
                            <div class="align-self-center">
                              <i
                                class="far fa-sticky-note bookcolor font-large-2 float-right"
                              ></i>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  
                  
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="media-body text-left">
                              <h6 class="bookcolor">Algebra Linear e Estudos Amazonicos</h6>
                              <div>
                                <button class="buttonlist">Editar</button>
                                <button class="buttonlist">Deletar</button>
                              </div>
                              
                            </div>
                            <div class="align-self-center">
                              <i
                                class="far fa-sticky-note bookcolor font-large-2 float-right"
                              ></i>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  
                  
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="media-body text-left">
                              <h6 class="bookcolor">Algebra Linear e Estudos Amazonicos</h6>
                              <div>
                                <button class="buttonlist">Editar</button>
                                <button class="buttonlist">Deletar</button>
                              </div>
                              
                            </div>
                            <div class="align-self-center">
                              <i
                                class="far fa-sticky-note bookcolor font-large-2 float-right"
                              ></i>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  
                  
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="media-body text-left">
                              <h6 class="bookcolor">Algebra Linear e Estudos Amazonicos</h6>
                              <div>
                                <button class="buttonlist">Editar</button>
                                <button class="buttonlist">Deletar</button>
                              </div>
                              
                            </div>
                            <div class="align-self-center">
                              <i
                                class="far fa-sticky-note bookcolor font-large-2 float-right"
                              ></i>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  
                  
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="media-body text-left">
                              <h6 class="bookcolor">Algebra Linear e Estudos Amazonicos</h6>
                              <div>
                                <button class="buttonlist">Editar</button>
                                <button class="buttonlist">Deletar</button>
                              </div>
                              
                            </div>
                            <div class="align-self-center">
                              <i
                                class="far fa-sticky-note bookcolor font-large-2 float-right"
                              ></i>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  
                  
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="media-body text-left">
                              <h6 class="bookcolor">Algebra Linear e Estudos Amazonicos</h6>
                              <div>
                                <button class="buttonlist">Editar</button>
                                <button class="buttonlist">Deletar</button>
                              </div>
                              
                            </div>
                            <div class="align-self-center">
                              <i
                                class="far fa-sticky-note bookcolor font-large-2 float-right"
                              ></i>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                      
                    </div>
                    
                </div>
                
                <a class="fixedButton">
                    <div class="roundedFixedBtn" ><i class="fa fa-plus"></i></div>
                </a>
              </div>
              
              <div class="col-5 full-height" style="max-width: 40%">
                
                <textarea id="teste"></textarea>
              </div>
              <div class="col-5 full-height" style="max-width: 39%">
                  <div class="CodeMirror-sizer" style="border-left-width: 0px;" id="markdown"></div>
              </div>
          </div>
        
      </div>
    
  </div>
</div>
