body {
  background: #dcdcdc;
  margin-top: 75px;
}

/* You can add global styles to this file, and also import other style files */

@media screen and (max-height: 1000px) {

  .CodeMirror,
  .CodeMirror-scroll {
    height: 785px !important;
  }
}

@media screen and (max-height: 780px) {

  .CodeMirror,
  .CodeMirror-scroll {
    height: 610px !important;
  }
}

.editor-toolbar {
  background-color: #ffffff;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
